body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn{
  background-image: -webkit-linear-gradient(to top, #f4f1ee, #fff);
  background-image: linear-gradient(to top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  height: 40px;
  margin: 5px;
  width: 40px;			
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border: none;
  cursor: pointer;
  color: gray;
  font-size: 20px;
}
.btn:hover{
  color: black
}
.btn-filter{
  font-size: 16px;
}

.react-grid-layout {
  position: relative;
}

.panel{
  width: 390px;
  height: 300px;
  border: 1px solid red;
  position: relative;
}
.filters {
  position: absolute;
  width: 300px;
  background: rgb(152, 144, 158);
  padding: 15px;
}
.filters.has-draggable{
  z-index: 10;
}
#portal-filters{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.filters-cells{
  max-height: 250px;
  overflow: auto;
}
.filters-search-type{
  width: 70px;
  display: inline-block;
}
.rc-checkbox{
  overflow: hidden;
}
.rw-widget-picker{
  height: inherit;
}

.search-input {
  position: relative;
}

.search-input::before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 0px;
  left: 7px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: none;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
}

.search-input > input:focus {
  outline: none;
}

.tables{
  overflow: auto;
  height: 250px;
}

.table {
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
}
.table-caption{
  background: rgba(0,0,0,.5);
}
