body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn{
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  height: 40px;
  margin: 5px;
  width: 40px;			
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border: none;
  cursor: pointer;
  color: gray;
  font-size: 20px;
}
.btn:hover{
  color: black
}
.btn-filter{
  font-size: 16px;
}

.react-grid-layout {
  position: relative;
}

.panel{
  width: 390px;
  height: 300px;
  border: 1px solid red;
  position: relative;
}
.filters {
  position: absolute;
  top: 0;
  right: 0;
}
